---
import Layout from '../layouts/Layout.astro';
import FindProperty from '../components/presentation/findProperty'

---

<Layout title="Find Property">
	<main>
    <FindProperty client:only="react" />
  </main>
</Layout>
