---
import Layout from '../layouts/Layout.astro';
import MeetTheTeam from '../components/MeetTheTeam'

---

<Layout title="Post Property">
	<main>
    <MeetTheTeam client:only="react" />
  </main>
</Layout>
